@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, Pretendard-Bold, sans-serif;
  background-color: rgb(229 231 235);
  max-width: 448px;
  margin: auto;
}

@font-face {
  font-family: "Pretendard-Bold";
  font-weight: 200;
  src: url("/fonts/Pretendard-Bold.ttf") format("truetype");
}
