@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.6/static/pretendard.css");

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background-color: rgb(229 231 235);
  max-width: 448px;
  margin: auto;
}

@font-face {
  font-family: "Pretendard-Bold";
  font-weight: 200;
  src: url("/fonts/Pretendard-Bold.ttf") format("truetype");
}
