@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, Pretendard-Bold, sans-serif;
  background-color: #eeeeee;
}

@font-face {
  font-family: "Pretendard-Bold";
  font-weight: 200;
  src: url("/fonts/Pretendard-Bold.ttf") format("truetype");
}
